body {
    font-family: 'Roboto', sans-serif;
}

.text-title-custom {
    color: #212529;
    font-weight: 300;
}

.text-light-silver {
    color: #707070;
    font-weight: 300;
}

.text-medium-green {
    color: #28A745;
}

.back-color-custom {
    background-color: #28A745 !important;
}

.header-logo {
    width: 86px;
    height: auto;
}

.footer-logo {
    width: 100px;
    height: auto;

}